body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

/* código omitido */

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

/* código omitido */

/* código omitido */

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}